@model IEnumerable<imdb517.viewAllActors_Result>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


<h3 style="text-align:center">All Actors</h3><span>

    <input type="button" style="margin-bottom:2px" class="btn btn-primary pull-right" value="Add Actor" onclick="location.href='@Url.Action("addActors", "imdb")'" />
    
</span>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Actor1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Actor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            
        </tr>
    }

</table>
